/******** RESET ********/
* {
    margin: 0;
}

/******** GENERAL ********/
.full-width {
    position: relative;
    display: block;
    float: left;
    width: 100%;
}
.center-all {
    display: block;
    max-width: 80%;
    margin: 0 auto;
}
select,
input[type="range"] {
	width: 100%;
}
input[type=range]{
	-webkit-appearance: none;
	/* fix for FF unable to apply focus style bug  */
	border: 1px solid white; 
}
input[type=range]::-webkit-slider-runnable-track {
	height: 10px;
	background: #dddddd;
	border: none;
	border-radius: 3px;
}
input[type=range]::-moz-range-track {
	height: 10px;
	background: #dddddd;
	border: none;
	border-radius: 3px;
}
input[type=range]::-ms-fill-lower {
	background: #e8972c;
	border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
	background: #dddddd;
	border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: #ffffff;
	margin-top: -11px;
	background-image: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.1));
	box-shadow: 0 0 8px rgba(0,0,0,0.3);
}
input[type=range]:focus {
	outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ccc;
}
select {
	height: 38px;
	font-size: 15px;
	background-color: #ffffff;
	border: 1px solid #d1d1d1;
}
/******** GRID ********/

.row {
    width: 100%;
    display: block;
    float: left;
    padding: 20px 0;
}
.col {
    float: left;
    display: block;
}
.col-2 {
    width: 16.66%;
}
.col-4 {
	width: 33.32%;
}
.col-8 {
	width: 66.44%;
}
.col-10 {
    width: 83.33%;
}


/******** Main Customs ********/
.header {
    background: url('../images/header-bg.jpg') top center no-repeat;
    width: 100%;
    display: block;
    height: 140px;
}
.logo {
    display: block;
    width: 71%;
    margin: 0 auto;
}
.logo img {
	display: block;
	width: 100%;
}
h1 {
    font-size: 46px;
    margin-top: 10px;
}
main {
	margin-top: 10px;
}
.label {
	font-size: 20px;
	text-align: left;
	float: left;
	display: block;
}
.output {
	font-size: 20px;
	text-align: right;
	float: right;
	display: block;
	padding-right: 20px;
}
form .row {
	border-bottom: 1px solid #e7e7e7;
}
.wrapper input[type="radio"] {
	display: none;
}
.hair input[type='radio']:checked + label,
.hair input[type='radio'] + label:hover{
	color: #fff;
	background-color: #e8972c;
}
.hair .wrapper {
	display: block;
	width: 100%;
}
.hair .wrapper .wrap-input {
	display: block;
	float: left;
	width: 24.6%;
	border-top: 1px solid #e8972c;
	border-bottom: 1px solid #e8972c;
	border-left:1px solid #e8972c;
}
.hair .wrapper .wrap-input:first-of-type {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.hair .wrapper .wrap-input:last-child {
	border-right:1px solid #e8972c;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.hair .wrapper label {
	display: block;
	padding: 10px;
	font: 600 12px/12px Helvetica;
	color: #e8972c;
	width: 100%;
	cursor: pointer;
	float: left;
	box-sizing: border-box;
	text-align: center;
}